.top_Header {
    width: 100%;
    height: 100vh;
    background-color: #ac4059;
    background-image: url(../Assets/man-12326.png);
    background-position: right bottom;
    position: relative;
    top: -100px;
    background-repeat: no-repeat;
    background-size: 90vh;
  


    /* background-image: linear-gradient(
        rgb(147 24 242 / 46%) 0%,
        rgb(59 20 59 / 37%) 48.81%,
        rgb(127 101 141 / 69%) 100%
      ),
      url(../Assets/headerimg.png); */
  
    /* rgba(114, 46, 166, 0.46) 0%,
      rgba(38, 36, 38, 0.37) 48.81%,
      rgba(179, 20, 36, 0.53) 100% */
    /* ; */

  }
  .header_textpart {
    font-family: Roboto;
    font-weight: 300;
    font-size: 30px;
    line-height: 100px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    /* padding-left: 127px; */
  }
  .header_two_part {
    position: relative;
    top: 250px;
    display: flex;
    justify-content: space-between;
  }
  
  .type_style {
    font-weight: 700;
    font-size: xx-large;
    color: #bcbdff;
  }
  

  /* poopular */

  .popular{
  display: flex;
  grid-gap: 10px;
  }
  .popular ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .header_textpart h3{
    line-height: 3.5rem;
    margin-bottom: 1rem;
  }
  .popular ul li{
    padding-right: 15px;
    font-size:18px;
    font-weight: 500;
  }
  
  .popular ul li a{
    border: none;
    outline: none;
    color: white;
    
    text-decoration: none;
  }

  .popular ul li a :hover{
   border-bottom: 2px solid;
  }


  .root{
    display: flex;
    align-items: center;
    width: 508px;
    padding: 2px 4px;
    justify-content: space-around;
  }
  .iconButton{
    padding: 10px,
  }
 .divider {
    height: 28;
    margin: 4;
  }

  
  .Topcontainer{
  }

  @media screen and (max-width: 900px) {
    .top_Header{
      background-size: 0vh;
    }
    .header_two_part{

    }
    .man_photo_part{
      display: none;
    
    }
    .header_textpart{
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
    .header_textpart h3{
      font-size: smaller;
      line-height: 59px;
    }
     .popular ul li{
    font-size: 15px;
    }
    .root{
      width: -webkit-fill-available;
    }
    .popular{

    }
  }

  @media screen and (max-width: 768px) {
    .popular{
      display: none;
    }
  }