.image_1{
    background-image: url("../Assets/footware.png");
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
    position: relative;

    
}
.image_2{
    background-image: url("../Assets/food2.png");
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
    position: relative;

    
}
.image_3{
    background-image: url("../Assets/food3.png");
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
    position: relative;

    
}
.image_4{
    background-image: url("../Assets/popular1.jpg");
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
    position: relative;

    
}
.image_5{
    background-image: url("../Assets/food1.png");
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
    position: relative;

    
}
.image_6{
    background-image: url("../Assets/kitchen.png");
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
    position: relative;

    
}


.text_styleImg h3{
    color: #fff;
}

.text_styleImg p{
    color: #fff;
}